name: Artemis API PR Actions

on:
  pull_request:
    branches:
      - "main"

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  build:
    name: Run API Tests
    strategy:
      fail-fast: false
      matrix:
        info:
          - { os: "macOS-latest", target: "x86_64-apple-darwin", cross: false }
          - {
              os: "ubuntu-24.04",
              target: "x86_64-unknown-linux-gnu",
              cross: false,
            }
          - {
              os: "windows-latest",
              target: "x86_64-pc-windows-msvc",
              cross: false,
            }
    runs-on: ${{ matrix.info.os }}
    permissions: 
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5
        with:
          persist-credentials: false
      - name: Compile script tester binary macOS
        if: matrix.info.os == 'macOS-latest'
        run: git clone https://github.com/puffyCid/artemis.git && cd artemis/forensics && cargo build --release --examples && cp ../target/release/examples/script_tester ../../tests/macos

      - name: Compile script tester binary Windows
        if: matrix.info.os == 'windows-latest'
        run: git clone https://github.com/puffyCid/artemis.git && cd artemis/forensics && cargo build --release --examples && cp ../target/release/examples/script_tester.exe ../../tests/windows

      - name: Compile script tester binary Linux
        if: matrix.info.os == 'ubuntu-24.04'
        run: git clone https://github.com/puffyCid/artemis.git && cd artemis/forensics && cargo build --release --examples && cp ../target/release/examples/script_tester ../../tests/linux && cp ../target/release/examples/script_tester ../../tests/applications

      - name: Install esbuild macOS
        if: matrix.info.os == 'macOS-latest'
        run: brew install esbuild

      - name: Install esbuild Linux
        if: matrix.info.os == 'ubuntu-24.04'
        run: sudo apt install esbuild

      - name: Install esbuild Windows
        if: matrix.info.os == 'windows-latest'
        run: npm install --save-exact --save-dev -g esbuild

      - name: Compile and run macOS tests
        if: matrix.info.os == 'macOS-latest'
        run: cd tests/macos && sudo bash compile_tests.sh

      - name: Compile and run Windows tests
        if: matrix.info.os == 'windows-latest'
        run: cd tests\windows && .\compile_tests.ps1
      
      - name: Compile and run Linux tests
        if: matrix.info.os == 'ubuntu-24.04'
        run: cd tests/linux && sudo bash compile_tests.sh

      - name: Compile and run Application tests
        if: matrix.info.os == 'ubuntu-24.04'
        run: cd tests/applications && sudo bash compile_tests.sh
