name: Test deployment

on:
  pull_request:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

permissions: {}

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    permissions: 
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5
        with:
          persist-credentials: false
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 #v5.0
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: ./artemis-docs

      - name: Install dependencies
        run: npm ci
        working-directory: ./artemis-docs
      - name: Test build website
        run: npm run build
        working-directory: ./artemis-docs
